
{% extends "main.html" %}

{% block title %}
{{place.name}}-post blog}
{% endblock title %}
{% block myblock %}

<style>
textarea:focus,
.form-select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
input[type='file']:focus,
input[type="checkbox"]:focus,
.uneditable-input:focus {   
  border-color: rgb(255, 255, 255);
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.075) inset, 0 0 8px rgba(250, 250, 250, 0.6);
  outline: 0 none;
  
}



.profile-button {
            background: rgb(99, 39, 120);
            box-shadow: none;
            border: none;
            padding: 10px 20px;
            text-align: center;
        }
        
        .profile-button:hover {
            background: #682773
        }
        
        .profile-button:focus {
            background: #682773;
            box-shadow: none
        }
        
        .profile-button:active {
            background: #682773;
            box-shadow: none
        }

.form-control{
  background-color: rgba(255,255,255,0.75);
}


        
</style>

{% endblock %}

{% block content %}

<section>
    <section class="inner-page">
<section id="book-a-table" class="book-a-table">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Add blog</h2>
        <p>Post a blog</p>
      </div>

      <form method="POST" class=" myform" data-aos="fade-up" enctype="multipart/form-data" data-aos-delay="100">
        {% csrf_token %}
        
          <div class="form-group">
            {{form.title}}
          </div>
          
         
      
        <div class="form-group mt-3">
            <textarea class="form-control" name="post" rows="5" placeholder="Blog content..."></textarea>
        </div>
        
          <div class="row">
          <div class=" col-6 form-group mt-3">
              <p style="color:#cda45e; font-size: 15px;">Thumbnail image:</p>
            {{form.thumbnail}}
          </div>
          <div class=" col-6 form-group mt-3">
            <p style="color:#cda45e; font-size: 15px;">Blog images:<p>
        <input type="file" multiple name="images"/>
    </div>
    </div>
        
        <div class="text-center"><button type="submit" class="profile-button">Post</button></div>
      </form>

    </div>
</section>
</section>
</section>
{% endblock %}


{% block myscript %}

<script>
var form_fields = document.getElementsByTagName('input')
form_fields[1].placeholder='Blog title';




form_fields[1].className += ' form-control'
form_fields[2].className += ' form-control'
form_fields[3].className += ' form-control'



</script>


{% endblock myscript %}