<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
    {% load static %}

    <link rel="stylesheet" href=" {% static 'css/login.css' %} ">

</head>

<body>
    <section class="bck">

        <div class="section">
            <header>Login to Continue</header>
            <form method = "post" action="">

                {% csrf_token %}
                
                <div class="input-container">
                    <input type="text" id="username" name = "username" class="text-input" autocomplete="off"
                        placeholder="Enter your username" required>
                    <label for="username" class="label">Username</label>
                </div>
                <div class="input-container space">
                    <input type="password" id="password" name = "password" class="text-input" autocomplete="off"
                        placeholder="Enter your Password" required>
                    <label for="password" class="label">Password</label>
                </div>
                <div class="pass">
                    <span>Don't have an account? </span><a href="{% url 'userRegister' %}">Register Now</a>
                </div>
                <div class="submit">
                    <input type="submit" value="LOGIN">
                </div>
            </form>

        </div>
    </section>
    <script src="./js/login.js"></script>
</body>

</html>