<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register as User</title>

    {% load static %}

    <link rel="stylesheet" href=" {% static 'css/register.css' %} ">

</head>

<body>
    <section class="bck">

        <div class="section">
            <header>Register as User</header>
            <form method = "POST" action="">
                {% csrf_token %}

                <div class="input-container">
                    <input type="text" id="username" name="username" class="text-input" autocomplete="off"
                        placeholder="Enter your username" required>
                    <label for="username" class="label">Username</label>
                </div>
                <div class="input-container space">
                    <input type="email" id="email" name="email" class="text-input" autocomplete="off" placeholder="Enter your Email"
                        required>
                    <label for="username" class="label">Email</label>
                </div>
                <div class="input-container space">
                    <input type="password" id="password" name="password" class="text-input" autocomplete="off"
                        placeholder="Enter your Password" required>
                    <label for="username" class="label">Password</label>
                </div>
                <div class="input-container space">
                    <input type="password" id="password" name="confirmpassword" class="text-input" autocomplete="off"
                        placeholder="Re-enter your Password" required>
                    <label for="username" class="label">Confirm Password</label>
                </div>
                
                <div class="submit space">
                    <input type="submit" value="Register">
                </div>
            </form>

        </div>
    </section>
    <script src="./js/register.js"></script>
</body>

</html>